@model Pokedex.Models.Pokemon
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>ID: @Model.Id</li>
    <li>In Pokedex: @Model.IsInPokedex</li>
</ul>

@using (Html.BeginForm("Add", "Pokemon"))
{
    <button type="submit" class="btn btn-primary">Add to Pokedex</button>
}