@model IEnumerable<Pokedex.Models.PokedexEntry>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Pokedex</h2>

@if (!Model.Any())
{
    <p>You have no Pokemon in your Pokedex!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @foreach (var pokemon in Model)
        {
            <tr>
                <th>@pokemon.PokemonId</th>
                <th>@Html.ActionLink(@pokemon.Name, "Details", "PokedexEntry", new { id = pokemon.PokemonId }, null)</th>
            </tr>
        }
    </table>
}
